#menu-slider{
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}

.menu{
  margin-top: 40px;
  color: white;
}

.menu-title{
  margin-top: 10px;
}

#resp-input-xs,
#resp-input-sm,
#resp-input-md,
#resp-input-lg{
  width: 60%;
  color: black;
}